html {

  position: relative;

}

body {
  margin: 0;
  padding: 0;

}

h1 {
  font-size: calc(2em + 3vw);
  color: #4b687f;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vw;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}





/******* NAV BAR *******/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.8);
  position: fixed;
  width: 100%;
}

.logo-container {
  margin: .5rem;
}


.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;

}

.navbar li {
  list-style: none;
}

.toggle-menu {
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 60px;
  height: 40px;
}


.bar {
  width: 100%;
  height: 5px;
  background-color: white;
  border-radius: 10px;
}

.nav-links li button {
  margin: 5px 20px;
  border: 1px solid #4b687f;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  padding: 10px 12px;
  background-color: transparent;
  color: #4b687f;

}

.nav-links li button:hover {
  background:#4b687f;
  color: white;
}





/***** HOME PAGE SECTION *****/

.home-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home-page h1{
  color: #c1c1c1;
  font-size: calc(2em + 2vw);
  text-align: center;
}

.home-page h2 {
  color: #c1c1c1;
  font-size: calc(1em + 2vw);
}


.menu-link {
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  cursor: pointer;
  font-size: calc(1rem + 2vw);
  color: #c1c1c1;
}


.menu-link:hover {
  color: #4b687f;
  border-bottom: 1px solid #4b687f;
}



.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: #1f1f1f;
  padding: 20px 0;

  color: rgb(193, 193, 193);
}







/***** MENU SECTION *****/

.menu-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}



.menu-display {
  text-align: center;
}

.menu-display button {
  margin: 20px 20px 60px 20px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  padding: 10px 12px;
  background-color: white;
  color: black;
}

.menu-display button:hover {
  border-bottom: 1px solid black;

}


.menu-items h2 {
  margin-bottom: 40px;
  font-size: calc(2em + 1vw);
  border-bottom: 3px solid black;
  padding: 0 0 10px 0 ;
}


.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: left;
}

.item {
  display: flex;
  width: 500px;
  margin-bottom: 40px;
  justify-content: space-between;
}


.food-name {
  color: rgb(83, 83, 83);
  font-size: 1.5rem;
}

.description {
  color: rgb(151, 150, 150);
}





/***** CONTACT US SECTION *****/


.contact-header {
  height: 500px;
  background-position: center;
  background-size: cover;
  justify-content: center;
  text-align: center;
  /* border: 1px solid rgb(111, 117, 111); */

}

.contact-display {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 0;
}


.contact-form h2 {
  text-align: center;
}


.contact-form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-form li {
  margin-bottom: 2vw;
}

.form-label {
  vertical-align: top;
  text-align: right;
  padding: 5px 15px;
}



input,
textarea {
  font: 1em sans-serif;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #999;
}



.button {
  padding-left: 0;
}

.submit-button-div {
  text-align: left;

}



.address-section,
.operating-hours {
  padding: 0 20px;
  text-align: center;
}



.operating-hours span {
  font-weight: bold;
}










@media (max-width:900px) {

  /***** NAV CHANGES *****/
  .company-logo {
    width: 190px;
  }

  .toggle-menu {
    display: flex;
  }


  .nav-links {
    display: none;
    width: 100%;
  }


  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links ul {
    flex-direction: column;
    width: 100%;
  }

  .nav-links li {
    text-align: center;
  }

  .nav-links li button {
    margin: 0;
    padding: .3rem;
    width: 100%;
    border: none;
  }

  .open-menu {
    display: flex;
  }


  /******* MENU CHANGES *******/
  .menu-display button {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
  }

  .description {
    padding-right: 10px;
  }


  .item {
    padding: 0 5px;
  }

  .item img {
    width: 150px;
  }


  /******* CONTACT CHANGES *****/

  .contact-form {
    display: flex;
    justify-content: center;
  }

  .address-section,
  .operating-hours {
    margin-top: 25px;
  }

  .contact-display {
    flex-direction: column;
  }


}