html {

  position: relative;

}

body {
  margin: 0;
  padding: 0;

}

h1 {
  font-size: calc(2em + 2vw);
  color: rgb(194, 193, 193);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
/
  height: 40vw;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-section {
  display: flex;
  justify-content: space-between;
}


nav button {
  margin: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  padding: 10px 12px;
  background-color: #FAEFD7;
  color: #ff2586;
}

nav button:hover {
  background:#ff2586;
  color: black;
}



/***** MENU SECTION *****/

.menu-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}

.menu-header h1 {
  font-size: calc(2em + 5vw);

}



.menu-display {
  text-align: center;
}

.menu-display button {
  margin: 20px 20px 60px 20px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  padding: 10px 12px;
  background-color: white;
  color: black;
}

.menu-display button:hover {
  border-bottom: 1px solid black;

}


.menu-items h2 {
  margin-bottom: 40px;
  font-size: 2.6rem;
  border-bottom: 3px solid black;
  padding: 0 0 10px 0 ;
}


.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: left;
}

.item {
  display: flex;
  width: 500px;
  margin-bottom: 40px;
  justify-content: space-between;
}


.food-name {
  color: rgb(83, 83, 83);
  font-size: 1.5rem;
}

.description {
  color: rgb(151, 150, 150);
}





/***** CONTACT US SECTION *****/


.contact-header {
  height: 500px;
  background-position: center;
  background-size: cover;
  justify-content: center;
  border: 1px solid rgb(111, 117, 111);

}

.contact-display {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 0;
}


.contact-form h2 {
text-align: center;


}


.contact-form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-form li {
  margin-bottom: 2vw;
}

.form-label {
  vertical-align: top;
  text-align: right;
  padding: 5px 15px;
}



input,
textarea {
  font: 1em sans-serif;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #999;
}



.button {
  padding-left: 0;
}

.submit-button-div {
  text-align: left;

}



.address-section,
.operating-hours {
  text-align: center;
}



.operating-hours span {
  font-weight: bold;
}