html {

  position: relative;

}

body {
  margin: 0;
  padding: 0;

}

h1 {
  font-size: 3rem;
  color: #ffff;
  /* text-align: center; */
}

main {
  /* background-color: rgba(222, 208, 191, 0.8); */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 30px; */
  /* margin-top: 10vw; */
  /* border: 2px solid blue; */
  height: 40vw;
}

header {
  /* text-align: center; */
  border: 2px solid blue;
  display: flex;
  justify-content: space-between;
}

nav {
  /* background: rgba(255, 238, 147, 0.5); */
  /* float: right; */
}


.logo-link {
  /* float: left; */
}


nav button {
  margin: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  padding: 10px 12px;
  background-color: #FAEFD7;
  color: #ff2586;
}

nav button:hover {
  background:#ff2586;
  color: black;
}

#content {

  /* text-align: center; */

  border: 2px solid yellow;
  /* width: 100vw; */
  height: 100vh;


}





.menu header {
  background-image: url('images/menu.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  /* src/images/menu.jpg */
}

.menu-display {
  text-align: center;
}

.menu-display button {
  margin: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  padding: 10px 12px;
  background-color: white;
  color: black;
}

.menu-display button:hover {
  border-bottom: 1px solid black;

}


.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: left;
}

.item {
  display: flex;
  width: 500px;
  margin-bottom: 40px;
  justify-content: space-between;
}
.item img {
  width: 200px;
  /* margin-left: 50px; */
  /* background-image: url('images/eggs1.jpg'); */
}





/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #FAEFD7; }
.My-Color-Theme-2-hex { color: #DED0BF; }
.My-Color-Theme-3-hex { color: #F5E8DF; }
.My-Color-Theme-4-hex { color: #DEC7BF; }
.My-Color-Theme-5-hex { color: #FADBD7; }

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(249, 239, 214, 1); }
.My-Color-Theme-2-rgba { color: rgba(221, 207, 191, 1); }
.My-Color-Theme-3-rgba { color: rgba(244, 232, 223, 1); }
.My-Color-Theme-4-rgba { color: rgba(221, 198, 191, 1); }
.My-Color-Theme-5-rgba { color: rgba(249, 219, 214, 1); }

/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-hsla { color: hsla(41, 77, 91, 1); }
.My-Color-Theme-2-hsla { color: hsla(32, 31, 80, 1); }
.My-Color-Theme-3-hsla { color: hsla(24, 52, 91, 1); }
.My-Color-Theme-4-hsla { color: hsla(15, 31, 80, 1); }
.My-Color-Theme-5-hsla { color: hsla(6, 77, 91, 1); }



/* ff2586 */


/* previous button coolor E97878 */


/* background: url('./back-rice.jpeg') no-repeat center; */
/* background-size: cover; */